h2 {
    font-family: "Segoe UI",Arial,sans-serif;
    font-weight: normal;
    font-size: 28px;
}

p {
    font-style: italic;
    color: #999;
}

h2, p {
    text-align: center;
}

:host {
    display: block;
    padding-top: 64px;
    padding-bottom: 64px;
}

:host-context(.dark) {
    background-color: #000;
}

:host-context(.dark) h2 {
    color: #fff;
}