/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
html,
body {
  margin: 0;
}

body {
  height: 100vh;
  font-family: "Lato", sans-serif;
}

div.mat-chip-list-wrapper {
  justify-content: end;
}

.dark-btn {
  background-color: #000;
  color: white;
}

.dark-btn:hover {
  background-color: #ccc;
  color: black;
}

button.dark-btn {
  border-radius: 0px;
}
