.image {
  width: 100%;
}

.container {
  max-width: 768px;
  margin-left: auto;
  margin-right: auto;
}

.container .band-text {
  text-align: justify;
  text-justify: inter-word;
}

.band-members, .bookings {
  display: flex;
  flex-wrap: wrap;
  margin-top: 48px;
  justify-content: space-around;
  align-items: flex-end;
}

.band-members app-band-member {
  width: 20%;
}

.bookings app-booking-card {
  display: block;
  width: 30%;
}

:host {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 5% auto 5%;
}

:host app-navbar {
  grid-row-start: 1;
  grid-column-start: 1;
}

:host app-carousel {
  grid-row-start: 2;
  grid-column-start: 1;
}

@media (max-width: 768px) {
  .container {
    margin-left: 16px;
    margin-right: 16px;
  }
}

@media (max-width: 580px) {
  .band-members app-band-member {
    width: 75%;
  }

  .bookings app-booking-card {
    width: 100%;
    box-sizing: border-box;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 32px;
  }
}
