.icon {
    padding: 0 14px;
}

.fill-space {
    flex: 1 1 auto;
}

mat-toolbar {
    background-color: #000;
    color: #fff;
}

mat-toolbar a {
    text-align: center;
    padding: 12px 24px;
    box-sizing: border-box;
    cursor: default;
}

mat-toolbar a:hover,
mat-toolbar a.active {
    background-color: #ccc;
    color: #000;
}