mat-card-actions,
p {
  margin-left: 0px;
}

mat-card-header {
  margin-left: -16px;
}

mat-card {
  border-radius: 0px;
}

img:hover {
  -webkit-filter: brightness(75%);
}

.mat-card > .mat-card-actions:last-child {
  margin-bottom: 0px;
}

:host {
  width: 100%;
}
